<section id="statistics" >
  <h1>Statistics</h1>
</section>
<h2>Comedians</h2>
  <% @comedians.each do |comedian| %>
    <div id="comedian-<%=comedian.id%>">
      <p>
        <%= comedian.name %>
        Age: <%= comedian.age %>
        City: <%= comedian.city %>

      </p>
      <% comedian.specials.each do |special| %>
        <%=special.title%>
        Length: <%=special.length%>
        <img src="<%= special.photo %>">
      <% end %>
    </div>
<% end %>
