<section id='statistics'>
  <h2>STATISTICS</h2>
  <p>Average Age of Comedians: <%=@comedians.average_age.to_i%> years old</p>
  <p>Total TV Specials: <%= @specials.count %></p>
  <p>Average TV Special Run Time: <%=@specials.average_length.to_i%> minutes</p>
  <p>All Cities: <%=@comedians.all_cities.join(', ')%></p>
</section>

<div class='comedian-header-container'><h1>COMEDIANS</h1></div>
  <% @comedians.each do |comedian| %>
  <section class='all-comedians'>
    <div id="comedian-<%=comedian.id%>">
      <div class='comedian-content'>
        <h4><%= comedian.name.upcase %></h4>
        <p>Age: <%= comedian.age %></p>
        <p>City: <%= comedian.city %></p>
        <p>Total Specials: <%= comedian.specials.count %></p>

        <% comedian.specials.each do |special| %>
          <p>Special Name: </br> <%=special.title%></p>
          <p>Length: <%=special.length%> min</p>
          <img src="<%= special.photo %>">
        <% end %>
      </div>
    </div>
  </section>
<% end %>
