<section id="statistics">
  <h1>Statistics</h1>
  <h3>Average Age of Comedians: <%=Comedian.average_age.to_i%> years old</h3>
  <h3>Average TV Special Run Time: <%=Special.average_length.to_i%> minutes</h3>
  <h3>All Cities: <%=Comedian.all_cities.join(", ")%></h3>
</section>

<h2>Comedians</h2>
  <% @comedians.each do |comedian| %>
    <div id="comedian-<%=comedian.id%>">
      <p>
        <%= comedian.name %>
        Age: <%= comedian.age %>
        City: <%= comedian.city %>

      </p>
      <% comedian.specials.each do |special| %>
        <%=special.title%>
        Length: <%=special.length%>
        <img src="<%= special.photo %>">
      <% end %>
    </div>
<% end %>
