<section id='statistics'>
  <h2>Statistics</h2>
  <p>Average Age of Comedians: <%=@comedians.average_age.to_i%> years old</p>
  <p>Total TV Specials: <%= @specials.count %></p>
  <p>Average TV Special Run Time: <%=@specials.average_length.to_i%> minutes</p>
  <p>All Cities: <%=@comedians.all_cities.join(', ')%></p>
</section>

<div class='comedian-header-container'><h1>Comedians</h1></div>
  <% @comedians.each do |comedian| %>
  <section id='all-comedians'>
    <div id="comedian-<%=comedian.id%>">
      <h4><%= comedian.name %></h4>
      <p>Age: <%= comedian.age %></p>
      <p>City: <%= comedian.city %></p>
      <p>Total Specials: <%= comedian.specials.count %></p>

      <% comedian.specials.each do |special| %>
        <p>Special Name: </br> <%=special.title%></p>
        <p>Length: <%=special.length%> min</p>
        <img src="<%= special.photo %>">
      <% end %>
    </div>
  </section>
<% end %>
