<!doctype html>
<section id='statistics'>
  <h1>Statistics</h1>
  <h3>Average Age of Comedians: <%=@comedians.average_age.to_i%> years old</h3>
  <h3>Total TV Specials: <%= @specials.count %></h3>
  <h3>Average TV Special Run Time: <%=@specials.average_length.to_i%> minutes</h3>
  <h3>All Cities: <%=@comedians.all_cities.join(', ')%></h3>
</section>

<h2>Comedians</h2>
  <% @comedians.each do |comedian| %>
    <div id="comedian-<%=comedian.id%>">
      <p><%= comedian.name %></p>
      <p>Age: <%= comedian.age %></p>
      <p>City: <%= comedian.city %></p>
      <p>Total Specials: <%= comedian.specials.count %></p>

      <% comedian.specials.each do |special| %>
        <p><%=special.title%></p>
        <p>Length: <%=special.length%></p>
        <img src="<%= special.photo %>">
      <% end %>
    </div>
<% end %>
